@model FeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Update new Car Feature</h4>
                        <p class="card-subtitle mb-4">You are required to enter all the features of the cars before proceeding. Once all the necessary information has been provided, please press the Save button to complete the operation.</p>

                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" />
                                <label for="exampleInputName">Feature</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Feature Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Feature</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


